xsd2/T1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="temperatura">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:integer">
                    <xs:attribute name="escala" type="tipoEscala" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="tipoEscala">
        <xs:restriction base="xs:string">
            <xs:enumeration value="celsius"/>
            <xs:enumeration value="kelvin"/>
            <xs:enumeration value="farenheit"/>
        </xs:restriction>
    </xs:simpleType>
   
</xs:schema>